# Ignore environment files
.env

# Ignore Python cache
__pycache__/

# Ignore log files
*.log

# Ignore generated plots from analysis
plots/
Scenario_4/euromillions_draw_history_from_oracle.csv
Scenario_4/euromillions_draw_history_from_oracle.json
Scenario_4/SQL_Server_quick_queries.mssql
~$ysical architecture.docx
